name: example
description: A simple example of modularity_flutter usage.
publish_to: 'none'
version: 0.0.1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  modularity_flutter:
    path: ../

dev_dependencies:
  flutter_test:
    sdk: flutter

